<div class="border bg-light p-4 m-4">
  <p class="text-truncate mb-4">
    <span class="fw-bold"> On the post: </span>
    <a
      href="{{ path('threads.show', { id: comment.thread.id }) }}"
      class="no-hover-link text-warning"
    >
      <b>
        {{ comment.thread.title }}
      </b>
    </a>
  </p>
  <p class="mb-2 fw-bold">you answered:</p>
  <p class="text-break">
    {{ comment.content | nl2br }}
  </p>
  <div class="mt-4 d-flex gap-2">
    <a
      href="{{ path('threads.show', { id: comment.thread.id }) }}"
      class="btn btn-dark btn-sm"
      >See post
    </a>
    {% if app.user and comment.user.id == app.user.id %}
    <a
      class="btn btn-warning btn-sm"
      href="{{ path('comments.edit', { id: comment.id }) }}"
      >Edit</a
    >
    <a
      class="btn btn-danger btn-sm"
      href="{{ path('comments.delete', { id: comment.id }) }}"
      >Delete</a
    >
    {% endif %}
  </div>
  {% if comment.isSolution %}
  <div class="alert alert-success mt-4">
    <p>Your answer was declared as the solution. Congrats!</p>
  </div>
  {% endif %}
</div>
