<nav class="navbar sticky-top bg-body-tertiary p-3">
  <a class="navbar-brand" href="{{ path('threads') }}">Threads</a>
  <div class="d-flex gap-3">
    <a class="nav-link active" href="{{ path('threads') }}">Threads</a>
    <a class="nav-link active" href="{{ path('threads.create') }}">Create</a>
    {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.threads|length > 0
    %}
    <a class="nav-link active" href="{{ path('profile.threads') }}"
      >My threads</a
    >
    {% endif %} {% if is_granted('IS_AUTHENTICATED_FULLY') and
    app.user.comments|length > 0 %}
    <a class="nav-link active" href="{{ path('profile.comments') }}"
      >My comments</a
    >
    {% endif %}
  </div>
  <div class="d-flex gap-3">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <a class="nav-link" href="{{ path('profile') }}">Profile</a>
    <a class="nav-link" href="{{ path('logout') }}">Logout</a>
    {% else %} {% if app.request.requesturi != "/signin" %}
    <a class="nav-link" href="{{ path('signin') }}">Sign in</a>
    {% endif %} {% if app.request.requesturi != "/signup" %}
    <a class="nav-link" href="{{ path('signup') }}">Sign up</a>
    {% endif %} {% endif %}
  </div>
</nav>
