{% extends 'base.html.twig' %} {% block title %} My threads {% endblock %}{%
block body %} {% include "partials/flash.html.twig" %} {% if
app.user.threads|length > 0 %}

<div>
  <h1>My threads</h1>
  {% for thread in app.user.threads %}
  <a
    class="text-dark no-hover-link"
    href="{{ path('threads.show', { id: thread.id }) }}"
  >
    <div class="border p-4 m-4">
      <h4>{{ thread.title }}</h4>
      <div class="d-flex gap-2 mb-2">
        {% for category in thread.categories %}
        <span class="badge bg-info text-white badge-info">{{
          category.name
        }}</span>
        {% endfor %}
      </div>
      <p class="d-inline-block text-truncate">{{ thread.description }}</p>
      <p>posted on {{ thread.createdAt|date('M. d Y') }}</p>
    </div>
  </a>
  {% endfor %}
</div>
{% else %}
<h1>No threads posted yet</h1>
<a class="btn btn-primary" href="{{ path('threads.create') }}"
  >Create a thread</a
>
<a class="btn btn-secondary" href="{{ path('threads') }}">See threads</a>
{% endif %} {% endblock %}
