{% extends 'base.html.twig' %} {% block title %} Thread show {% endblock %}{%
block body %} {% include "partials/flash.html.twig" %} {% set sortedComments =
thread.comments|sort((a, b) => a.createdAt > b.createdAt ? -1 : 1) %} {% set
likesCount = thread.votes|filter(vote => vote.isLike == true) %} {% set
dislikesCount = thread.votes|filter(vote => vote.isLike == false) %} {% set
likeDisplay = likesCount|length - dislikesCount|length %}
<div class="d-flex gap-4">
  <div
    class="sidebar border-end border-light-subtle pe-4 d-flex flex-column mt-4"
  >
    <span
      class="align-middle {{
        likeDisplay == 0
          ? 'text-dark'
          : likeDisplay > 0
          ? 'text-success'
          : 'text-danger'
      }}"
    >
      {% if likeDisplay > 0 %} + {% endif %}

      {{ likeDisplay }}
    </span>
    {% if is_granted('IS_AUTHENTICATED_FULLY')%} {% if app.user == thread.author
    %}
    <div class="d-flex flex-column">
      {% include "partials/carets/caret-up-disabled.html.twig" %} {% include
      "partials/carets/caret-down-disabled.html.twig" %}
    </div>
    {% else %} {% if vote == null %}
    <div class="d-flex flex-column">
      <form
        method="POST"
        class="m-0"
        action="{{ path('vote.thread', { id: thread.id }) }}"
      >
        <input type="text" name="vote" id="vote" value="up" hidden />
        <button type="submit" class="btn">
          {% include "partials/carets/caret-up.html.twig" %}
        </button>
      </form>

      <form
        method="POST"
        class="m-0"
        action="{{ path('vote.thread', { id: thread.id }) }}"
      >
        <input type="text" name="vote" id="vote" value="down" hidden />
        <button type="submit" class="btn">
          {% include "partials/carets/caret-down.html.twig" %}
        </button>
      </form>
    </div>
    {% elseif vote.isLike == true %}
    <div class="d-flex flex-column">
      <form
        method="POST"
        class="m-0"
        action="{{ path('vote.thread', { id: thread.id }) }}"
      >
        <input type="text" name="vote" id="vote" value="up" hidden />
        <button type="submit" class="btn">
          {% include "partials/carets/caret-up-fill.html.twig" %}
        </button>
      </form>
      <form
        method="POST"
        class="m-0"
        action="{{ path('vote.thread', { id: thread.id }) }}"
      >
        <input type="text" name="vote" id="vote" value="down" hidden />
        <button type="submit" class="btn">
          {% include "partials/carets/caret-down.html.twig" %}
        </button>
      </form>
    </div>
    {% else %}
    <div class="d-flex flex-column">
      <form
        method="POST"
        class="m-0"
        action="{{ path('vote.thread', { id: thread.id }) }}"
      >
        <input type="text" name="vote" id="vote" value="up" hidden />
        <button type="submit" class="btn">
          {% include "partials/carets/caret-up.html.twig" %}
        </button>
      </form>
      <form
        method="POST"
        class="m-0"
        action="{{ path('vote.thread', { id: thread.id }) }}"
      >
        <input type="text" name="vote" id="vote" value="down" hidden />
        <button type="submit" class="btn">
          {% include "partials/carets/caret-down-fill.html.twig" %}
        </button>
      </form>
    </div>
    {% endif %} {% endif %} {% else %}
    <div class="d-flex flex-column">
      {% include "partials/carets/caret-up-disabled.html.twig" %} {% include
      "partials/carets/caret-down-disabled.html.twig" %}
    </div>
    {% endif %}
  </div>

  <div>
    <h1>{{ thread.title }}</h1>
    {% if is_granted('IS_AUTHENTICATED_FULLY') and thread.author.id ==
    app.user.id or is_granted('ROLE_ADMIN') %}
    <div class="mb-4">
      <a
        class="btn btn-warning btn-sm"
        href="{{ path('threads.edit', { id: thread.id }) }}"
        >Edit thread</a
      >
      <a
        class="btn btn-danger btn-sm"
        href="{{ path('threads.delete', { id: thread.id }) }}"
        >Delete thread</a
      >
      {% if thread.author.id == app.user.id and thread.status == "open" and
      thread.comments|length > 0 or is_granted('ROLE_ADMIN') %}
      <a
        href="{{ path('profile.thread.solution', { id: thread.id }) }}"
        class="btn btn-success btn-sm"
        >Declare a solution</a
      >
      {% endif %}
    </div>
    {% endif %}

    <div class="pb-2 mb-4 border-bottom">
      <p>
        Posted by
        <a
          class="no-hover-link text-warning"
          href="{{ path('profile.public', { id: thread.author.id }) }}"
        >
          {{ thread.author.username }}
        </a>
        - status:
        <span
          class="{{ thread.status == 'open' ? 'text-success' : 'text-danger' }}"
        >
          {{ thread.status }}
        </span>
        - {% if thread.createdAt != thread.updatedAt and thread.updatedAt !=
        null %} last updated on {{ thread.updatedAt|date('M. d Y H:m') }}
        {% else %} on
        {{ thread.createdAt|date('M. d Y') }}
        {% endif %}
      </p>

      <div class="d-flex gap-2 mb-2 mt-2">
        {% for category in thread.categories %}
        <span class="badge bg-dark text-white badge-info">{{
          category.name
        }}</span>
        {% endfor %}
      </div>
    </div>

    <p class="mb-2 border-bottom pb-4">
      Description: {{ thread.description | nl2br }}
    </p>
    <div class="mb-2 border-bottom pb-4">
      <p class="mb-2">Content:</p>
      <p class="bg-light p-4">
        {{ thread.content | nl2br }}
      </p>
    </div>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

    <div class="pt-2">
      <h4>Post a comment</h4>
      {{ form_start(form) }}
      {{ form_row(form.content) }}
      <button type="submit" class="btn btn-warning">Send</button>
      {{ form_end(form) }}
    </div>
    {% endif %}

    <div>
      {% for comment in thread.comments %} {% if comment.isSolution == true %}
      <h3 class="text-success">Solution</h3>

      {% if app.user.id == thread.author.id or is_granted('ROLE_ADMIN') %}

      <a
        href="{{ path('profile.solution.delete', { id: comment.id }) }}"
        class="btn btn-danger btn-sm"
        >Remove solution</a
      >
      {% endif %}

      <div class="border p-4 m-4 bg-success text-white">
        <p>{{ comment.user.username }} commented:</p>
        <p>
          {{ comment.content | nl2br }}
        </p>
      </div>
    </div>
    {% endif %} {% endfor %}

    <div>
      <h4>Comments:</h4>
      {% for comment in sortedComments %} {% set commentLikesCount =
      comment.votes|filter(vote => vote.isLike == true) %} {% set
      commentDislikesCount = comment.votes|filter(vote => vote.isLike == false)
      %} {% set commentLikeDisplay = commentLikesCount|length -
      commentDislikesCount|length %}

      <div>
        {% if comment.isSolution != true %} {% include
        "partials/comment.html.twig" %} {% endif %}
      </div>
      {% endfor %} {#
      <h4>0 comments posted:</h4>
      #}
    </div>
  </div>
</div>
{% endblock %}
