{% extends 'base.html.twig' %} {% block title %} Thread show {% endblock %}{%
block body %} {% include "partials/flash.html.twig" %}

<h1>{{ thread.title }}</h1>
{% if thread.author.id == app.user.id %}
<div class="mb-4">
  <a
    class="btn btn-primary btn-sm"
    href="{{ path('threads.edit', { id: thread.id }) }}"
    >Edit thread</a
  >
  <a
    class="btn btn-danger btn-sm"
    href="{{ path('threads.delete', { id: thread.id }) }}"
    >Delete thread</a
  >
</div>
{% endif %}
<p>
  Posted by
  <a
    class="no-hover-link"
    href="{{ path('profile.public', { id: thread.author.id }) }}"
  >
    {{ thread.author.username }}
  </a>
  on
  {{ thread.createdAt|date('M. d Y') }}
  {% if thread.createdAt != thread.updatedAt and thread.updatedAt != null %}
  {{ thread.updatedAt|date('M. d Y H:m') }}
  {% endif %}
</p>

<div class="d-flex gap-2 mb-4 mt-2">
  {% for category in thread.categories %}
  <span class="badge bg-info text-white badge-info">{{ category.name }}</span>
  {% endfor %}
</div>

<p>
  Status:
  <span class="text-info">
    {{ thread.status }}
  </span>
</p>

<p class="mb-4">Description: {{ thread.description | nl2br }}</p>
<h2>Content:</h2>
<p class="mb-5">
  {{ thread.content | nl2br }}
</p>

<div class="mb-2">
  <h4>Post a comment</h4>
  {{ form_start(form) }}
  {{ form_row(form.content) }}
  <button type="submit" class="btn btn-primary">Send</button>
  {{ form_end(form) }}
</div>

<div>
  {% if thread.comments and thread.comments|length > 0 %} {% for comment in
  thread.comments %} {% if comment.isSolution == true %}
  <h3 class="text-success">Solution</h3>
  <div class="border p-4 m-4 bg-success text-white">
    <p>{{ comment.user.username }} commented:</p>
    <p>
      {{ comment.content | nl2br }}
    </p>
  </div>
  {% endif %} {% endfor %}

  <h4>Comments:</h4>
  {% for comment in thread.comments %} {% if comment.isSolution != true %}
  <div class="border p-4 m-4">
    <h5>
      <a
        class="no-hover-link"
        href="{{ path('profile.public', { id: comment.user.id }) }}"
      >
        {{ comment.user.username }}
      </a>
      commented:
    </h5>
    <p>
      {{ comment.content | nl2br }}
    </p>
    {% if comment.user.id == app.user.id %}
    <div class="mt-2">
      <a
        class="btn btn-primary btn-sm"
        href="{{ path('comments.edit', { id: comment.id }) }}"
        >Edit</a
      >
      <a
        class="btn btn-danger btn-sm"
        href="{{ path('comments.delete', { id: comment.id }) }}"
        >Delete</a
      >
    </div>
    {% endif %}
  </div>
  {% endif %} {% endfor %} {% else %}
  <h4>0 comments posted:</h4>
  {% endif %}
</div>
{% endblock %}
